<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lets Code - CEK</title>
  <meta content="Let's Code Programme is initiated to bring up the ethuastic folks and introduce the concept of programming to them." name="descriptison">
  <meta content="letscode, programming, python, safehome" name="keywords">

  <!-- Favicons -->
  <link href="/assets/index/img/favicon.png" rel="icon">
  <link href="/assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">
  {% if request.user.is_authenticated  %}
    <script> window.location.href = '{% url "home" %}'</script>
  {% endif %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/index/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/index/vendor/modal-video/css/modal-video.min.css" rel="stylesheet">
  <link href="/assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/index/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup - v2.0.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">L<span>e</span>ts <span>Code</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="/assets/index/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#practiceground">Whats There</a></li>
          <li><a href="#preperations">How To Prepare</a></li>
          <li><a href="#login">Login</a></li>
<!--          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
 -->        </ul>
      </nav> 
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>#Programming</h1>
      <h2>Lets Start Printing <code> >>> "Hello World!" </code> to screen.... </h2>
      <img src="/assets/index/img/hero-img.png" alt="Hero Imgs">
      <a href="#get-started" class="btn-get-started scrollto">Lets Code</a>
<!--       <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
      </div>
 -->    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center wow fadeInUp">

      <div class="container">
        <div class="section-title text-center">

          <h2> #DO #CODE  #REPEAT     </h2>
          <p class="separator">Let's try learn programming in  comming 10 #SafeHomeDays</p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4">
            <div class="feature-block">

              <img src="/assets/index/img/svg/cloud.svg" alt="img" class="img-fluid">
              <h4>Take your Daily Mission</h4>
              <p>Solve Question for the day! Collect Points while cracking the questions first. <br />
                Remeber! Hints will eat your Points! </p>
              <!-- <a href="#">read more</a> -->

            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="feature-block">

              <img src="/assets/index/img/svg/planet.svg" alt="img" class="img-fluid">
              <h4>Mentor Yourself</h4>
              <p>
                Curiosity makes learning funnier than ever! <br/>
                The best approach for programming is to find the logic  to solve the problem before start coding <br />
                </p>
              <!-- <a href="#">read more</a> -->

            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="feature-block">

              <img src="/assets/index/img/svg/asteroid.svg" alt="img" class="img-fluid">
              <h4>Prepare for the bigger world!</h4>
              <p>10 Days wont do any wonder. But a good start will always makes you best among competators.</p>
<!--               <a href="#">read more</a>
 -->
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!-- ======= Features Section ======= -->
    <section id="practiceground" class="padd-section text-center wow fadeInUp">

      <div class="container">
        <div class="section-title text-center">
          <h2>#PRACTICE GROUND.</h2>
          <p class="separator">This arena is not cooking any tasty dishes. Just find out simple patterns around you! find how they works! Then we are ready to start our program. </p>
        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/paint-palette.svg" alt="img" class="img-fluid">
              <h4>#10Days Challenge</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/vector.svg" alt="img" class="img-fluid">
              <h4>Flow Charts</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/design-tool.svg" alt="img" class="img-fluid">
              <h4>Logic Design</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/asteroid.svg" alt="img" class="img-fluid">
              <h4>Magic Numbers</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/asteroid.svg" alt="img" class="img-fluid">
              <h4>Pattern Printings</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/cloud-computing.svg" alt="img" class="img-fluid">
              <h4>Predict the Output</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/pixel.svg" alt="img" class="img-fluid">
              <h4>Generate Strings</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/assets/index/img/svg/code.svg" alt="img" class="img-fluid">
              <h4>Pay taxes / Bills</h4>
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->


    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center wow fadeInUp">
      <div class="overlay">
        <div class="container-fluid container-full">

          <div class="row">
            <a href="#" class="js-modal-btn play-btn" data-video-id="WvhQhj4n6b8"></a>
          </div>

        </div>
      </div>
    </section><!-- End Video Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="preperations" class="padd-section text-center wow fadeInUp">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-8">

            <div class="testimonials-content">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item  active">
                    <div class="top-top">

                      <h2>Do you have python Installed?</h2>
                      <p>
                        Its quiet natural that a new operating system like windows will not have python pre-installed in it. Make sure you have one installed before starting the segments. <br />
                         </p>
                        <span> HOW TO TEST? </span> <br />
                        open your  command prompt and type "<code>python --version</code>". if python installed, Its version will be stored. Else you have to install a new python version. You can <a href="https://www.python.org/downloads/" target="_blank">download Python Here</a>.

                        <span> WHAT WE HAVE TO USE FOR TYPING PYTHON? </span> <br />

                        Python Donot require any specific IDE for working. However, while starting, IDE's Like

                        Atom, Sublime, Visual Studio Code will be helpful.



                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Contact Section ======= -->
    <section id="login" class="padd-section wow fadeInUp">

      <div class="container">
        <div class="section-title text-center">
          <h2>Login</h2>
          <p class="separator"></p>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="" method="post" role="form" class="">
                <div class="form-group">
                  <input type="text" name="{{ form.username.name }}" class="form-control" id="id_username" placeholder="Your Name" />
                  <span class="validate">{{ form.username.errors }}</span>
                </div>

                <div class="form-group">
                  <input type="password" name="{{ form.password.name }}" class="form-control" id="id_password" placeholder="Your Password"/>
                  <span class="validate">{{ form.password.errors }}</span>
                </div>
                <span class="validate">{{form.non_field_errors.errors}}</span>
                <div class="form-group">
                  <input type="submit"  class="form-control" value="Login"/>
                  <span class="validate">{{ form.password.errors }}</span>
                </div>
                {{ form.non_field_errors }}

                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">eStartup</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/index/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/index/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/index/vendor/php-email-form/validate.js"></script>
  <script src="/assets/index/vendor/wow/wow.min.js"></script>
  <script src="/assets/index/vendor/modal-video/js/modal-video.min.js"></script>
  <script src="/assets/index/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/index/vendor/superfish/superfish.min.js"></script>
  <script src="/assets/index/vendor/hoverIntent/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/index/js/main.js"></script>

</body>

</html>