{% extends 'base.html' %}
{% block page_title %} Day {{ object.name }} - Assessment  {% endblock %}
{% block page_subtitle %} Take your today's Cource here. {% endblock %}


{% block app_content %}

{% for qn in questions %}
<div class="row">
	<div class="col-md-9">
	    <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
	    	<div class="card-header">
	    		<h6 style="padding:10px"> #{{ forloop.counter }}{{ qn.name }} </h3>
	    	</div>
	    	<div class="card-body">
	    		<div class="col-md-12">
	    			<h6>DESCRIPTION</h6>
	    			<p> {{ qn.description }} </p>
	    		</div>
	    		<hr />
	    		<div class="col-md-12">
	    			<h6>EXPLANATION</h6>
	    			<p> {{ qn.explanation }} </p>
	    		</div>
	    		<hr />
	    		<div class="col-md-12">
	    			<h6>LOGIC</h6>
	    			<p> {{ qn.logic }} </p>
	    		</div>
	    		<hr />
	    		<div class="col-md-12">
	    			<h6>HINT</h6>
	    			<p> {{ qn.hint }} </p>
	    		</div>
	    		<hr />
	    		<div class="col-md-12">
	    			<a href="{% url 'solution' day=request.user.next_task question=qn.pk  %}" class="float-right"> <button class="btn btn-primary btn-sm" > Submit solution!</button> <a></p>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>


{% empty %}
<h3> You do not have any Questions! </h3>
{% endfor %}

	<div class="card">
	<div class="card-footer">
		{% if request.user.next_task == request.resolver_match.kwargs.pk  %}
			<form method="post" class="float-right d-block" style="height:60px">
				{% csrf_token %}
				<button class="btn btn-info float-right" type="submit"> Mark As Completed! </button>		
			</form>
		{% else %}
			<span class="badge badge-success"> Completed! </span>	
		{% endif %}
	</div>
	</div>
{% endblock %}