{% extends 'base.html' %}
{% block title %} Keywords, Tokens and Builtin Functions {% endblock %}
{% block page_title %} Keywords, Tokens and Builtin Functions {% endblock %}

{% block page_subtitle %}
This page will consist of Keywords, Tokens and Builtin Functions. Feel free to ask to add more.
{% endblock %}

{% block app_content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/night-owl.min.css" />


<style>

.tagcloud01 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud01 ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tagcloud01 ul li a {
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud01 ul li a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}


</style>
{% regroup object_list by token as token_type %}

<div class="row tagcloud01">
    {% for token_group in token_type %}
    <div class="col-md-12">
        <h6> {{ token_group.grouper }} </h6>
        <ul class=" border rounded pt-3 pl-3 mb-3">
            {% for token in token_group.list %}
            <li><a href="#token-{{ token.slug }}">{{ token.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>


{% for token in object_list %}
<section id="token-{{token.slug}}" style="padding-top:                                                                                                                                                                      80px; margin-top:-80px">
<div class="row">
    <div class="col-md-9 ">
        <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
            <div class="card-header">
                <h6> {{ token.name }} </h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {{ token.description | safe }}

                    </div>
                    <div class="col-md-6">
                        <pre>
                            <code class="python">
                                   {{ token.code | safe }}
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% empty %}
<h6> This page will be updated shortly! </h6>
{% endfor %}
<hr class="p-5" />

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script charset="UTF-8" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/python.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        hljs.configure({useBR: true});
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
     });
</script>
{% endblock %}



