{% extends 'base.html' %}
{% block page_title %} A Message for you  {% endblock %}
{% block page_subtitle %}  {% endblock %}
{% block title %} Dashboard {% endblock %}

{% block app_content %}

<div class="card">
	<div class="card-header">
		<h6 style="padding:10px"> Message For You! </h6>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-9">
				<p>Hai All,</p>
				<p>
					The  world of programming is not just a combination of keys in keyboard. <br />
					When we understands that, a bright colorful world will get opened before us. <br />
					We are here because we want you guys also get the spirit of coding.
				</p>
				<hr />
				<p class="mt-3">
					Let me Explain this Dashboard to you.<br />
					Where you will get a section for self assesment. Just roughly  Go through them. <br />
					<br />
					You don't have to solve them.. These are questions just to analyse You. <br />
					<br />
					If you feel you are confident to solve any problem then mark it there..  <br />
					I hope while starting, most of you might  can only  mark 2 or 3. <br />
					But don't worry, While progressing through the lessons, you will be able to mark them.. <br />
				</p>
				<hr />
				<p>
					<b>LESSONS</b><br />
					currently you have syllabus splited for each day.<br />
					Each day consist of different lessons.  And we have added questions across each lessons
					( though some lessons might note have any question in it). <br />

					First go through  each lesson in its order properly. I tried to explain them as simple as possible.<br />

					<b>#NB: (Please let me knew if you couldn't crack any of the lesson, even if its the first one)</b>
				</p>
				<hr />
				<p>
					<b>How to attend the problems.</b> <br />
					Learning programming is not something to do with your laptop. It completely depends on how much your pen run over your notebook. ( But ofcource you need a laptop to run the program later )<br /><br />
					So do not use laptop to solve the program. <br />
					Take out your book and pen. Try to solve each question. (Take a pic and WhatsApp US.) <br />
					Or else. If you are confident, try it on your system. <br /><br />

					You will be running through some errors. <br />
					Don't be panic ( they are just bugs, not corona virus😜) <br />
					Calm down, Read the error,  try to understand whats that error messages are trying to communicate to you.  If you really listen them, they sounds good.  Don't  ever try to fix the bug without understanding the issue from error messages.
					That's what I  follow while coding.<br />
					<br />
					There is no better  guide than error messages. Because. When you simpley copy the error msg
					and search it on google, actually you are trying to find the reason behind that issue. <br />
					That's the real place where you start to learn something or upgrading yourself.<br />
					It's only because of these bugs, each developer grows. Here is the reason.<br />
					Most probably, you won't try to read out more about anything else. (If you do, that's really cool).
					Here, have a practical problem, and you analyze and understand the situation.
					from there you are trying to find solution of issue.
					<br />And You are learning in the best way.<br />
				</p>
				<hr />
				<p>
					If you feels free to share your code, you have provision for submitting your solutions to us.<br />
					If you could submit answers for all the questions, I hope we might can have an easter egg for selecteds.
				</p>
				<hr />
				<p>
					<b>OTHERS</b> <br />  Section in the dashboard hopes for further  new pages. <br />
					Such as frequently added questions, hand book to crack errors, list of tokens
					and built in functions... Like that.
				</p>
			</div>
		</div>
	</div>
	<div class="card-footer">

	</div>
</div>


{% endblock %}